/* Основни стилове за страницата */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
  }
  
  /* Създаваме фон за цялата страница */
  table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  table th, table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  table th {
    background-color: #2d3e50;
    color: #fff;
    font-size: 16px;
  }
  
  table td {
    font-size: 14px;
    color: #333;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #e1e1e1;
    cursor: pointer;
  }
  
  /* Падинг за тялото на страницата */
  body {
    padding: 20px;
  }
  
  /* Изработка на навигационен бар */
  .navbar {
    background-color: #333;
    padding: 10px;
    text-align: center;
  }
  
  .navbar a {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  